# Require python == 3.9, cudatoolkit == 11.3

# tools
certifi==2022.12.7
numpy==1.26.4
Pillow==9.5.0
python_speech_features==0.6
soundfile==0.12.1
wandb==0.16.3
speechbrain==0.5.16
pytorch_metric_learning==2.4.1
scikit-image==0.22.0

# algospace
algospace

# grpc
grpcio==1.48.2
grpcio-tools==1.48.2
protobuf==3.19.6

# opencv
opencv-python==4.9.0.80

# torch
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.10.1+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.11.2+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.10.1+cu111
# 以下来自于: https://data.pyg.org/whl/torch-1.10.1+cu111.html
-f https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_sparse-0.6.12-cp39-cp39-linux_x86_64.whl
torch-sparse==0.6.12
-f https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_scatter-2.0.9-cp39-cp39-linux_x86_64.whl
torch-scatter==2.0.9
-f https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_cluster-1.5.9-cp39-cp39-linux_x86_64.whl
torch-cluster==1.5.9
-f https://data.pyg.org/whl/torch-1.10.0%2Bcu113/torch_spline_conv-1.2.1-cp39-cp39-linux_x86_64.whl
torch-spline-conv==1.2.1
# torch-geometric 得把其他都安好了再安
torch-geometric==2.0.3
torchinfo==1.8.0

# eventbus
pypubsub==4.0.3
